<div class="mui-content-padded">
    <select name="" id="change" class="select-change-page" @change="changePage" v-model="page">
        <option value="all">你的全部考试成绩</option>
        <option value="newest">最新考试成绩</option>
    </select>
    <div class="ts-fen">
        <p class="ts-fen-p">你所有成绩的平均学分绩点（GPA）</p>
        <p class="ts-fen-p-2" style="font-size: 32px;line-height: 48px;">{{GPA}}</p>
    </div>
    <div class="ts-list" style="margin-top: 10px;">
        <div class="tableh">
            <div class="table-id">
                <p class="tableh-t">序号</p>
            </div>
            <div class="table-name">
                <p class="tableh-t">课程名称</p>
            </div>
            <div class="table-grade">
                <p class="tableh-t">成绩</p>
            </div>
            <div class="table-fractions">
                <p class="tableh-t">学分</p>
            </div>
            <div class="table-attribute">
                <p class="tableh-t">考试性质</p>
            </div>
        </div>
        <ul>
            <li style="float: left;border-top: 1px solid #80d4cc;width: 100%;padding-top: 5px;margin-top: 5px;"
                v-for="(item, key) in chengji">
                <div class="tableh">
                    <div class="table-id">
                        <p class="tableh-t">{{ key }}&nbsp;</p>
                    </div>
                    <div class="table-name">
                        <p class="tableh-t">{{ item.kecengmingceng }}</p>
                    </div>
                    <div class="table-grade">
                        <p class="tableh-t" :style="item.jidian == 0 ? error : ''">{{ item.chengji }}</p>
                    </div>
                    <div class="table-fractions">
                        <p class="tableh-t">{{ item.xuefen }}</p>
                    </div>
                    <div class="table-attribute">
                        <p class="tableh-t">{{ item.kaoshixingzhi }}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <p style="font-size: 11px;">注：学生的平均学分绩点（Gread Point Average，即GPA）
        等于该学生修读全部课程所得学分绩点之和除以该学生同期修读的学分数。</p>
    <img src="/public/wx/img/guanxi.png" style="max-width: 100%;">

    <div id="loadingToast" v-show="jiazai">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">数据加载中</p>
        </div>
    </div>
</div>
