<div>
    <div style="padding:10px">
        <select name="" id="change" class="select-change-page" @change="changePage" v-model="page">
            <option value="all">全部</option>
            <option value="now">当前</option>
        </select>
    </div>

    <div style="width:375px;">
        <table border="1" bordercolor="#aaaaaa" style="background-color: #FFFFFF;width:100%;" class="kecheng-table">
            <tr >
                <td>时间</td>
                <td>星期一</td>
                <td>星期二</td>
                <td>星期三</td>
                <td>星期四</td>
                <td>星期五</td>
                <td>星期六</td>
                <td>星期日</td>
            </tr>
            <template v-for="(tr, index) in table">
                <tr>
                    <th width="12.5%" height="28" align="center">
                        {{(index+1)*2-1}}至{{(index+1)*2}}节
                    </th>
                    <template v-for="(td, index) in tr">
                        <td width="12.5%" height="28" align="center" valign="top">
                            <div v-for="(kecheng, key) in td" style="font-size:1px !important;margin:0;padding:0;">
                                {{kecheng.name}}<br>{{kecheng.week}}<br>{{kecheng.teacher}}<br>{{kecheng.jiaoshi}}
                                <template v-if="td.length > 1 && key+1 != td.length">
                                    <hr>
                                </template>
                            </div>
                        </td>
                    </template>
                </tr>
            </template>
        </table>
    </div>


    <p v-if="desc">备注: {{desc}}</p>
    <div class="ct-m">
        <a>	<img src="/public/wx/img/kb-time.png" class="kb-time-img-l" /></a>
        <a> <img src="/public/wx/img/qrcode.png" class="kb-time-img-r" /></a>
    </div>
    <div id="loadingToast" v-show="jiazai">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">数据加载中</p>
        </div>
    </div>
</div>