<div class="page tabfabu js_show">
    <div class="page__bd" style="height: 100%;">
        <h2>table</h2>
        <table id="kbtable" border="1" width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <th width="70" height="28" align="center">&nbsp;</th>
                <th>星期一</th>
                <th>星期二</th>
                <th>星期三</th>
                <th>星期四</th>
                <th>星期五</th>
                <th>星期六</th>
                <th>星期日</th>
            </tr>
            <template v-for="(tr, index) in table">
            <tr>
                <th width="70" height="28" align="center">
                    {{index+1}}至{{index+2}}节
                </th>
                <template v-for="(td, index) in tr">
                    <td width="123" height="28" align="center" valign="top" v-for="kecheng in td">
                        {{kecheng.name}}::{{kecheng.week}}::{{kecheng.teacher}}
                        <hr>
                    </td>
                </template>
            </tr>
            </template>
        </table>
    </div>
    <div id="loadingToast" v-show="jiazai">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">数据加载中</p>
        </div>
    </div>
</div>