<div class="mui-content-padded">
    <select name="" id="change" class="select-change-page" @change="changeData" v-model="selected">
        <option v-for="(value, key) in queryList" :vaule="key" :value = "value">{{ value.name }}</option>
    </select>

    <!-- foreach -->
    <ul>
        <li v-for="(item, index) in liushui">{{ item.created_at }} {{ item.xingming }} {{ item.type }} {{ item.price }} 余额 ： {{ item.yue }}</li>
    </ul>

    <button v-show="nextPage" @click="next">加载更多</button>
</div>
