<div class="container">

    <div class="row divp">
        <span>姓名:{{user_name}}</span>
        <span>学号:{{account}}</span>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <div class="select">
                <select name="" id="change" class="select-change-page form-control" @change="changeData" v-model="selected">
                    <option v-for="(value, key) in queryList" :value="key">{{ value.name }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 ">
            <p class="item1">
                {{price}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="item" v-for="(item, index) in liushui">
                <table class="table">
                    <tr>
                        <td colspan="2">{{ item.created_at }}</td>
                    </tr>
                    <tr>
                        <td>{{ item.type }}</td>
                        <td style="text-align:right">{{ item.xingming }}</td>
                    </tr>
                    <tr>
                        <td>{{ item.shanghu }} {{ item.price }}</td>
                        <td style="text-align:right">你当前一卡通余额:<span class="text-dangernew" style="font-size: 14px;">¥{{ item.yue }}</span></td>
                    </tr>
                </table>
            </div>
            <div class="item" v-if="liushui.length<1 && !jiazai">
                <p>暂无消费信息</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="button-wrap">
                <button class="btn btn-info btn-block" v-show="nextPage" @click="next">加载更多</button>
            </div>
        </div>
    </div>

    <div id="loadingToast" v-show="jiazai">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">数据加载中</p>
        </div>
    </div>
</div>

