<div id="tabbar3" class="mui-control-content " style="display: block;">
    <div class="box2-t">
        <template v-if="user.niming != 0">
        <a><img src="/public/wx/img/m-touxiang.png" class="box2-t-logo"></a><br />
        <a style="margin-bottom: 10px;">某同学·男</a><br />
        </template>
        <template v-if="user.niming == 0">
            <a><img :src="{{ user.avatar }}" class="box2-t-logo"></a><br />
            <a style="margin-bottom: 10px;">{{ user.nick_name }}</a><br />
        </template>
        <div class="md6" style="border-right: 1px solid #FFFFFF;"><a>帖子 {{ tiezi }}</a></div>
        <div class="md6"><a>赞 {{ zan }}</a></div>
        <a :href="'/wx/kecheng?user='+this.user">
            <div class="md4">
                <img src="/public/wx/img/icon-kebiao.png" class="box2-t-logo2" />
                <p>课表</p>
            </div>
        </a>
        <a :href="'/wx/chengji?user='+this.user">
            <div class="md4">
                <img src="/public/wx/img/icon-cj.png" class="box2-t-logo2" />
                <p>成绩</p>
            </div>
        </a>
        <a :href="'/wx/kaochang?user='+this.user">
            <div class="md4">
                <img src="/public/wx/img/icon-kc.png" class="box2-t-logo2" />
                <p>考场</p>
            </div>
        </a>
        <a href="#">
            <div class="md4">
                <img src="/public/wx/img/icon-xl.png" class="box2-t-logo2" />
                <p>校历</p>
            </div>
        </a>
        <a href="#">
            <div class="md4">
                <img src="/public/wx/img/icon-ts.png" class="box2-t-logo2" />
                <p>图书馆</p>
            </div>
        </a>
        <a href="#">
            <div class="md4">
                <img src="/public/wx/img/icon-kjs.png" class="box2-t-logo2" />
                <p>空教室</p>
            </div>
        </a>

    </div>
    <div class="box2-m">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right">
                    校内电话簿
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right">
                    教务处网络
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right">
                    四六级成绩
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right">
                    座位预约
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right" href="/wx/binding">
                    绑定账号
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right">
                    联系我们
                </a>
            </li>
        </ul>
    </div>
</div>