.my-top {
    background-color: rgb(0, 0, 0);
    background-image: url('../../images/bg-wode.png');
    background-position-y: center;
    background-position-x: center;
    background-size: 100%;
    position: absolute;
    left: 0;
    height: 320px;
    width: 100%;
    z-index: 9;
}
.touxiang{
    text-align: center;
}
.touxiang>span{
    display: inline-block;
}
.touxiang img{
    width:64px;
    height:64px;
}
.touxiang p {
    font-size: 16px;
    font-family: "Microsoft YaHei";
    color: rgb(255, 255, 255);
    line-height: 25px;
}
._1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 720px;
    height: 1280px;
    z-index: 32;
}
._100 {
    font-size: 28px;
    font-family: "Microsoft YaHei";
    color: rgb(255, 255, 255);
    line-height: 2.5;
    position: absolute;
    left: 233px;
    top: 352.5px;
    z-index: 31;
}
.fatieshu {
    font-size: 28px;
    font-family: "Microsoft YaHei";
    color: rgb(255, 255, 255);
    line-height: 2.5;
    position: absolute;
    left: 158px;
    top: 422.992px;
    z-index: 30;
}
